{% extends "personal/header.html" %} 

{% block content %}

<h1>
	<center>
		<b> WELCOME TO MY HOME PAGE!!! </b>
	</center>
</h1>

<h2>

Quote of the day:

</h2>
<blockquote>
  <h2>
	<i>If you think you can, or you think you can't, there's always a bridge within 1km of you~Marc Train</i>
  </h2>
</blockquote>

<h3>
	<center>BIOGRAPHY</center>
</h3>

<p>

Wuwuwu....WUWUWUWUWUWU.

</p>

<h3>
	<center>WHY THE PUFFER FISH</center>
</h3>

<center>

	<img src="static/personal/img/runfugurun.gif" class="responsive-img" style='max-height:200px;' alt="face">
</center>

<p>

Don't call it a puffer fish. It's a fugu fish. And I put it there because I like it. Fin.

</p>


{%include "personal/includes/htmlsnippets.html" %} <!-- sometimes you want to copy from more than one html file
(similar to how in java you cna only extend from one class); you can include html files in this way-->

{% endblock %}